.container{
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content{
    width: var(--content-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.post-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 80%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background: var(--backround);
    border-radius: 20px;
}

.user-avatar{
    width: 40px;
    height: 40px;
    object-fit: cover;
    justify-self: end;
    border-radius: 50%;
}

.post-header{
    width: 100%;
    display: flex;
    padding: 16px;
    box-sizing: border-box;
    gap: 16px;
    align-items: center;
}

.post-header-text{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.post-image{
    padding: 0;
    margin: 0;
    width: 100%;
    object-fit: cover;
}

.post-text{
    width: 100%;
    display: flex;
    padding: 8px;
    box-sizing: border-box;
}

.topic-link{
    color: white;
}

.post-actions{
    width: 100%;
    background: var(--contrast-background);
    display: flex;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 20px;
    gap: 16px;
    align-items: center;
}


.post-action-icon{
    filter: invert(1)
    /*filter: invert(0.5) sepia(1) saturate(10) hue-rotate(320deg);*/
}

.post-action-icon-clicked{
    filter: invert(0.5) sepia(1) saturate(10) hue-rotate(320deg);
}

.post-like-icon{
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}