

.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 80%;
    padding: 30px;
    gap: 30px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background: var(--backround);
    border-radius: 20px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 60px;
}

.username{
    display: flex;
    gap: 10px;
    align-items: center;
}

.subs-buttons{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}

.profile-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

.main-info{
    text-align: center;
    margin-top: 50px;
    align-self: center;
}

.profile-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}